@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cccccc;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.column {
  background-color: #ffffff;
  width: 300px;
  min-height: 400px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.column h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.tasks {
  min-height: 400px;
}

.task-input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-top: 10px;
}

.add-task {
  width: 100%;
  padding: 10px 5px;
  border-radius: 4px;
  border: none;
  background-color: #3066be;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}

.add-task:hover {
  background-color: #1c3d72;
}

.card {
  position: relative;
  background-color: #427aa1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #ffffff;
  cursor: grab;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover {
  background-color: #26455b;
  transform: scale(1.05);
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px 0;
  border-radius: 4px;
}

.context-menu ul li {
  list-style: none;
  padding: 8px 20px;
  cursor: pointer;
  color: #333333;
}

.context-menu ul li:hover {
  background-color: #f4f4f4;
}

#time {
  text-align: end;
  display: block;
  font-style: italic;
  color: #ffffff;
  font-size: 12px;
}

.dragging {
  display: none;
}
