* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 17px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: scale(1.2);
}

h1 {
  text-align: center;
}

input {
  padding: 5px 10px;
  border-radius: 17px;
  border: none;
}

button {
  background-color: red;
  border: none;
  color: #ffffff;
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: bolder;
  transition: all 0.3s;
}

button:hover {
  background-color: rgb(155, 19, 19);
  cursor: pointer;
  transform: scale(1.1);
}

.bmi-res {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #030303;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
}

.bmi-cat {
  padding: 10px;
  border: 10px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
